.structs-sidebar {
}

.sidebar-item {
  .title-sidebar {
    border-bottom: 1px solid #ccc9c2;
    margin: 0 0 12px 0;
    h3 {
      @include font-size(24px);
      font-family: $copse_regular;
      font-weight: normal;
      color: #1e1e1e;
    }
  }
  .item-list {
    ul li {
      margin: 0;
    }
  }
  .wrapper-list {
    .btn-arrow + {
       .link-dropdown {
         margin-left: 0;
       }
    }
    a {
      color: #c7993e;
      text-decoration: none;
      @include font-size(14px);
      line-height: 24px;

      display: block;
      margin-left: 16px;
    }
    .number {
      color: #ccc9c2;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      ul {
        margin-left: 16px;
        display: none;
        &.active {
          display: block;
        }
      }
    }
    &.wrapper-list_tag {
      ul {
        margin-left: 0;
      }
    }
  }
  .form-site-custom {
    .form-wrapper {
      margin: 0;
      padding: 0;
      border: none;
    }
     .form-item {
       input[type="text"], 
       input[type="password"], 
       input[type="email"] {
         background: #fffef7;
       } 
     }
    [class*="width-form"] {
      margin: 0 0 10px 0;
    }
    .width-form-298 {
      width: 298px;
      .form-select {
        width: 288px;
      }
    }
    .fieldset-legend {
      display: block;
      font-size: 0.875em;
      font-family: "bitteritalic";
      line-height: 30px;
      color: #595957;
      padding-bottom: 5px;
    }
    .width-form-182 {
      width: 182px;
      margin-right: 10px;
    }
    .width-form-106 {
      width: 106px;
    }
    .width-form-166 {
      margin-right: 10px;
    }
  }
}

.sidebar-left {
}

.link-dropdown {
  display: block;
  //position: relative;
  margin-left: 0px;

}

.btn-arrow {
  display: inline-block;
  width: 16px;
  height: 24px;
  position: relative;
  cursor: pointer;
  float: left;
  &:before {
    @include pseudo-block($top: 50%, $left: 0);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin-top: -6px;
    border-left: 8px solid #ccc9c2;
  }
  &.active {
    &:before {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      margin-top: -4px;
      border-top: 8px solid #ccc9c2;
    }
  }
}

.sidebar-right {
  background: #ebeadf;
  padding: 24px 20px 24px;
  margin: 0 0 10px 0;
  position: relative;
  @include box-shadow(0 0 10px #000);
  @include box-sizing(border-box);
  &:before {
    @include pseudo-block($top: 0, $left: 20px, $right: 20px);
    background: url("../images/bg/bg_content_top.png") 50% 50% repeat-x;
    height: 24px;

  }
  &:after {
    @include pseudo-block($bottom: -5px, $left: 0, $right: 0);
    background: url("../images/bg/bg_sidebar_bottom.png") 50% 50% repeat-x;
    height: 5px;
  }
}

.table-check_out {
  .table {
    width: 100%;
    th, td {
      word-break: break-all;
    }
    th {
      border: none;
      background: #ccc9c2;
      color: #fff;
      @include font-size(11px);
      font-family: $tt_6;
      line-height: 1;
      padding: 8px 12px 8px 0;
      vertical-align: middle;
      &:first-child {
        padding-left: 12px;
        max-width: 100px;
      }
    }
    tbody {
      border: none;
      border-bottom: 1px solid #ccc9c2;
      td {
        padding: 12px 12px 12px 0;
        font-family: $bitter_regular;
        color: #595957;
        vertical-align: middle;
        @include font-size(12px);

        &:first-child {
          padding-left: 4px;
          max-width: 100px;
        }
      }
    }
    tfoot {
      td {
        @include font-size(14px);
        padding: 8px 12px 8px 0;
        text-transform: uppercase;
        font-family: $bitter_bold;
        &[colspan="2"] {
          @include font-size(11px);
          font-family: $tt_6;
          text-align: right;
          padding-right: 36px;
          color: #b3b0aa;
        }
      }

    }
  }
}


