&.page-progressive-dinner {
  background: image-url('bg/bg-slider.jpg');

  p {
    font-size: 12px;
  }

  .slider-wrapper {
    position: relative;
  }

  .pager {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      position: absolute;
      top: 0;

      a {
        display: block;
        @include text-hide;
      }
    }

    .prev {
      left: -12px;

      a {
        background: image-url("bg/bg-pager-prev.png") no-repeat;
        height: 122px;
        width: 44px;
      }
    }

    .next {
      right: -12px;

      a {
        background: image-url("bg/bg-pager-next.png") no-repeat;
        height: 122px;
        width: 50px;
      }
    }
  }

  .block-circle, .number-slide {
    @include border-radius(50%);
    text-align: center;
  }

  .block-circle {
    position: relative;
    background: #000;
    width: 190px;
    height: 190px;
    @include box-sizing(border-box);
    padding: 6px;
    margin: -30px auto 0;
  }

  .number-slide {
    font-family: $tt-2;
    background: #545150;
    height: 52px;
    width: 52px;
    @include border-radius(50%);
    font-size: 33px;
    line-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .text-circle {
    @include border-radius(50%);
    border: 1px solid #545150;
    @include box-sizing(border-box);
    display: table;
    width: 100%;
    height: 100%;

    .text {
      display: table-cell;
      vertical-align: middle;
    }

    p {
      color: #999794;
      font-size: 8px;
      font-family: $tt-6;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 16px;

      strong {
        text-transform: none;
        letter-spacing: 0;
        font-weight: normal;
        display: block;
        font-family: $reverie-italicitalic;
        font-size: 15px;
        color: #c7993e;
        margin-bottom: 10px;
        letter-spacing: -1px;
      }
    }
  }

  .images-decor {
    text-align: center;

    img {
      height: auto;
    }
  }

  .slide-1 {
    padding-bottom: 130px;
    padding-right: 34px;

    .images-decor {
      position: absolute;
      right: -15px;
      bottom: -15px;
    }

    .prev {
      display: none;
      left: -27px;
      top: -10px;
    }

    .next {
      right: -27px;
      top: -10px;

      a {
        background: image-url("bg/bg-pager-next-a.png") no-repeat;
        height: 122px;
        width: 64px;
      }
    }

    .btn-wrapp {
      position: absolute;
      bottom: 48px;
      left: 15px;

      a {
        max-width: 110px;
        overflow: hidden;
      }
    }
  }

  .slide-2 {
    margin-top: 20px;

    .pager li {
      top: 43px;
    }

    .text {
      padding: 0 20px;
    }

    .images-decor {

      img {
        width: 240px;
      }
    }
  }

  .slide-3 {
    margin-top: 20px;


    .text-circle {
      padding-top: 15px;
    }

    .pager li {
      top: 50px;
    }

    .images-decor {

      img {
        width: 230px;
      }
    }
  }

  .slide-4 {

    .pager li {
      top: 50px;
    }

    .images-decor {

      img {
        width: 220px;
      }
    }
  }

  .slide-5 {

    .block-circle {
      width: 235px;
      height: 235px;
      margin-top: 0;
    }

    .text {
      padding: 0 20px;
    }

    .content-item {
      margin-top: -10px;
    }

    .pager li {
      top: 60px;
    }

    .next {
      display: none;
    }

    .btn-wrapp {
      text-align: center;
    }
  }
}