.navigation ul.menu {
  margin: 0;
  padding: 0;
}
.navigation ul.menu li {
  margin: 0;
}
.navigation ul.menu li a.active-trail, .navigation ul.menu li a.active {
  color: #592D00;
}
.navigation ul.menu .last {
  border-right: none;
}

.navigation_header_top {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1MDUwNSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMWExYTFhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjgyODI4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #050505), color-stop(50%, #1a1a1a), color-stop(100%, #282828));
  background-image: -moz-linear-gradient(top, #050505 0%, #1a1a1a 50%, #282828 100%);
  background-image: -webkit-linear-gradient(top, #050505 0%, #1a1a1a 50%, #282828 100%);
  background-image: linear-gradient(to bottom, #050505 0%, #1a1a1a 50%, #282828 100%);
  padding: 0;
  z-index: 2;
  position: relative;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}
.navigation_header_top .wrapper-nav {
  height: 40px;
  background: #000;
  margin: 0;
}
.navigation_header_top ul.menu {
  width: 1092px;
  margin: 0 auto;
  display: table;
}
.navigation_header_top ul.menu li.navigation-item {
  display: table-cell;
}
.navigation_header_top a.header-link {
  font-size: 0.875em;
  display: block;
  text-align: center;
  min-width: 148px;
  position: relative;
  text-decoration: none;
  line-height: 40px;
  font-family: 'cuprumregular';
  font-weight: bold;
  padding: 0 2px 0;
  color: #99958e;
}
.navigation_header_top a.header-link .text-item {
  text-transform: uppercase;
}
.navigation_header_top a.header-link:hover {
  color: #fff;
}
.navigation_header_top .logo_top {
  width: 208px;
  vertical-align: bottom;
}
.navigation_header_top .logo_top .text-item {
  display: block;
  bottom: 100%;
  position: absolute;
  font-family: "reverie_bold_italicBdIt";
  font-size: 1.4375em;
  text-shadow: 1px 1px 1px #000;
  color: #d9d8d4;
  text-transform: none;
  padding: 0 30px 38px;
  line-height: 1.4;
}
.navigation_header_top .logo_top .logo {
  display: block;
  height: 40px;
}
.navigation_header_top .logo_top .logo img {
  margin: -12px 0 0 0;
}

.navigation_header_bottom {
  background: #c7993e;
  text-align: center;
  overflow: hidden;
}
.navigation_header_bottom ul.menu {
  display: table;
  vertical-align: top;
  width: 1092px;
  margin: 0 auto;
}
.navigation_header_bottom ul.menu li {
  display: table-cell;
  vertical-align: top;
}
.navigation_header_bottom ul.menu li.active a, .navigation_header_bottom ul.menu li.active-trail a {
  background-color: #d6ab56;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2YWI1NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDNhODUzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzc5YzQ3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6ab56), color-stop(50%, #d3a853), color-stop(100%, #c79c47));
  background-image: -moz-linear-gradient(top, #d6ab56 0%, #d3a853 50%, #c79c47 100%);
  background-image: -webkit-linear-gradient(top, #d6ab56 0%, #d3a853 50%, #c79c47 100%);
  background-image: linear-gradient(to bottom, #d6ab56 0%, #d3a853 50%, #c79c47 100%);
  -moz-box-shadow: 0 0px 18px -8px black;
  -webkit-box-shadow: 0 0px 18px -8px black;
  box-shadow: 0 0px 18px -8px black;
}
.navigation_header_bottom a {
  font-size: 0.9375em;
  line-height: 46px;
  display: block;
  text-decoration: none;
  color: #592d00;
  text-align: center;
  padding: 0 14px;
}
.navigation_header_bottom a:hover {
  background-color: #d6ab56;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2YWI1NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDNhODUzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzc5YzQ3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6ab56), color-stop(50%, #d3a853), color-stop(100%, #c79c47));
  background-image: -moz-linear-gradient(top, #d6ab56 0%, #d3a853 50%, #c79c47 100%);
  background-image: -webkit-linear-gradient(top, #d6ab56 0%, #d3a853 50%, #c79c47 100%);
  background-image: linear-gradient(to bottom, #d6ab56 0%, #d3a853 50%, #c79c47 100%);
  -moz-box-shadow: 0 0px 18px -8px black;
  -webkit-box-shadow: 0 0px 18px -8px black;
  box-shadow: 0 0px 18px -8px black;
}

.page-slider {
  background: url("../images/bg/bg_slider.jpg") 50% 50% fixed no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.slides-progressive {
  clear: both;
  overflow: hidden;
}
.slides-progressive .slides-control {
  margin: 0 auto;
}
.slides-progressive .next,
.slides-progressive .prev {
  position: absolute;
  display: block;
  text-indent: -9999px;
  top: 200px;
  z-index: 10;
}
.slides-progressive .next:before,
.slides-progressive .prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -27px;
}
.slides-progressive .next {
  right: -30px;
  height: 241px;
  width: 143px;
  background:  url('../images/icons-s02b73b8257.png') 0 -2967px no-repeat;
  -moz-transition: right 0.2s;
  -o-transition: right 0.2s;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}
.slides-progressive .next:hover, .slides-progressive .next:active {
  right: 0;
}
.slides-progressive .next:hover {
  height: 241px;
  width: 143px;
  background:  url('../images/icons-s02b73b8257.png') -125px -1911px no-repeat;
}
.slides-progressive .next:active {
  height: 241px;
  width: 143px;
  background:  url('../images/icons-s02b73b8257.png') 0 -2152px no-repeat;
}
.slides-progressive .next:before {
  height: 35px;
  width: 30px;
  background:  url('../images/icons-s02b73b8257.png') -157px 0 no-repeat;
  right: 41px;
}
.slides-progressive .prev {
  left: -30px;
  height: 241px;
  width: 143px;
  background:  url('../images/icons-s02b73b8257.png') -143px -2152px no-repeat;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}
.slides-progressive .prev:hover, .slides-progressive .prev:active {
  left: 0;
}
.slides-progressive .prev:hover {
  height: 241px;
  width: 143px;
  background:  url('../images/icons-s02b73b8257.png') -143px -2393px no-repeat;
}
.slides-progressive .prev:active {
  height: 241px;
  width: 143px;
  background:  url('../images/icons-s02b73b8257.png') 0 -2393px no-repeat;
}
.slides-progressive .prev:before {
  height: 35px;
  width: 30px;
  background:  url('../images/icons-s02b73b8257.png') -212px 0 no-repeat;
  left: 50px;
}
.slides-progressive .content-slide {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 10px 10px;
  position: relative;
}
.slides-progressive .block-circle {
  height: 360px;
  width: 360px;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  box-shadow: 0 0 6px #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.slides-progressive .number-slide {
  background: #545150;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 4.0625em;
  font-family: "titilliumtext22llight";
  text-align: center;
  position: relative;
  z-index: 1;
}
.slides-progressive .text-circle {
  height: 340px;
  width: 340px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: table;
  top: 9px;
  left: 9px;
  border: 1px solid #999794;
  text-align: center;
}
.slides-progressive .text-circle span, .slides-progressive .text-circle strong {
  display: block;
  color: #fff;
  line-height: 1.4;
}
.slides-progressive .text-circle span {
  font-family: "titilliumtext22llight";
  font-size: 0.875em;
  text-transform: uppercase;
  color: #999794;
  margin: 10px 0;
}
.slides-progressive .text-circle strong {
  font-family: "reverie_italicitalic";
  font-weight: normal;
  font-size: 1.625em;
  color: #c7993e;
  letter-spacing: -2px;
}
.slides-progressive .text-circle p {
  font-family: "titilliumtext22llight";
  text-transform: uppercase;
  color: #999794;
}
.slides-progressive .text {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.slides-progressive .content-slide-image {
  position: relative;
}
.slides-progressive .content-slide-image .images-decor {
  position: absolute;
  top: 0;
  right: 0;
}

.content-text {
  background: #fffef7;
  width: 966px;
  min-height: 400px;
  margin: 10px auto;
  position: relative;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
.content-text:before, .content-text:after {
  content: "";
  display: block;
  position: absolute;
}
.content-text:before {
  width: auto;
  top: 0;
  left: 54px;
  right: 82px;
  height: 24px;
  background: url("../images/bg/bg_content_top.png") 50% 50% repeat-x;
}
.content-text:after {
  bottom: -5px;
  left: 0;
  right: 0;
  width: auto;
  height: 5px;
  background: url("../images/bg/bg_content_bottom.png") 50% 50% repeat-x;
}
.content-text.content-form {
  width: 622px;
  background: #ebeadf;
}
.content-text.content-form input[type="text"],
.content-text.content-form input[type="password"],
.content-text.content-form input[type="email"] {
  background: #fff;
}
.content-text.content-form:before {
  left: 58px;
  right: 32px;
}
.content-text.content-form:after {
  background: url("../images/bg/bg_content_bottom_d.png") 50% 50% repeat-x;
}

.outer-slides {
  height: 800px;
  margin-top: 46px;
}

.slide-1 .content-text {
  min-height: 458px;
  padding: 24px 0 0 54px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slide-1 .title-content {
  width: 568px;
  border-bottom: 1px solid #ccc9c2;
  margin: 0 0 26px 0;
}
.slide-1 .title-content h3 {
  font-size: 2.625em;
  line-height: 1;
  color: #1e1e1e;
  margin: 0;
  padding: 16px 0 12px;
  font-family: "copseregular";
  font-weight: normal;
}
.slide-1 .text {
  width: 410px;
  color: #999794;
}
.slide-1 .text strong {
  font-size: 1.625em;
  font-family: "reverie_italicitalic";
  font-weight: normal;
  color: #c7993e;
}
.slide-1 .text p {
  color: #595957;
  line-height: 1.6;
}
.slide-1 .text i {
  font-weight: normal;
  font-family: "bitteritalic";
}
.slide-1 .images-decor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.slide-4 .content-slide, .slide-2 .content-slide {
  width: 966px;
}

.slide-5 .content-slide {
  width: 960px;
  min-height: 710px;
  padding-top: 0;
}

.slides-navigation {
  background: #ffff00;
  top: 10px;
  z-index: 100;
}

.outer-slides-about-us {
  height: 700px;
}
.outer-slides-about-us .slides-container {
  position: relative;
}
.outer-slides-about-us .carousel-feature {
  top: -1000px;
  left: -1000px;
  position: absolute;
}
.outer-slides-about-us .slide {
  padding-top: 112px;
  padding-bottom: 50px;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  z-index: 0;
  cursor: pointer;
}
.outer-slides-about-us .slide:hover {
  -moz-transform: scale(0.82, 0.82);
  -ms-transform: scale(0.82, 0.82);
  -webkit-transform: scale(0.82, 0.82);
  transform: scale(0.82, 0.82);
}
.outer-slides-about-us .slide:hover:after {
  -moz-transform: scale(0.82, 0.82);
  -ms-transform: scale(0.82, 0.82);
  -webkit-transform: scale(0.82, 0.82);
  transform: scale(0.82, 0.82);
}
.outer-slides-about-us .slide.current {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  z-index: 1;
  cursor: default;
}
.outer-slides-about-us .slide.current .description {
  opacity: 1;
  display: block;
}
.outer-slides-about-us .slide .image {
  background: #fff;
  -moz-box-shadow: 0px 0px 22px black;
  -webkit-box-shadow: 0px 0px 22px black;
  box-shadow: 0px 0px 22px black;
  width: 744px;
  padding: 18px;
  margin: 0 auto;
  position: relative;
}
.outer-slides-about-us .slide .image:after {
  width: 100%;
  height: 5px;
  background: url("../images/bg/bg_content_bottom.png") 50% 50% repeat-x;
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.outer-slides-about-us .slide .description {
  opacity: 0;
  display: none;
  position: absolute;
  top: 32px;
  left: -155px;
  -moz-transition: opacity 600ms;
  -o-transition: opacity 600ms;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
}
.outer-slides-about-us .slide .text-year, .outer-slides-about-us .slide .text-circle {
  display: table;
  position: absolute;
}
.outer-slides-about-us .slide .text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.outer-slides-about-us .slide .block-circle {
  width: 325px;
  height: 325px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000000;
  -moz-box-shadow: -3px 3px 41px black;
  -webkit-box-shadow: -3px 3px 41px black;
  box-shadow: -3px 3px 41px black;
}
.outer-slides-about-us .slide .text-circle {
  top: 11px;
  left: 12px;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #545150;
}
.outer-slides-about-us .slide .text-circle p {
  font-family: "titilliumtext22llight";
  text-transform: uppercase;
  color: #999794;
  margin: 10px 0;
}
.outer-slides-about-us .slide .text-circle .text {
  color: #c7993e;
  font-size: 1.875em;
  font-family: "reverie_italicitalic";
}
.outer-slides-about-us .slide .text-year {
  -moz-box-shadow: -3px 3px 41px black;
  -webkit-box-shadow: -3px 3px 41px black;
  box-shadow: -3px 3px 41px black;
  line-height: 2.688em;
  background: #545150;
  height: 124px;
  width: 124px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  top: -45px;
  left: 0;
  font-size: 3em;
  font-family: "titilliumtext22llight";
}
.outer-slides-about-us .slides-pagination {
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}
.outer-slides-about-us .slides-pagination a {
  display: inline-block;
  vertical-align: middle;
  background: #000;
  height: 29px;
  width: 29px;
  margin: 0 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  white-space: nowrap;
  text-indent: -9999px;
  line-height: 0;
  -moz-box-shadow: -3px 4px 9px -4px black;
  -webkit-box-shadow: -3px 4px 9px -4px black;
  box-shadow: -3px 4px 9px -4px black;
  position: relative;
}
.outer-slides-about-us .slides-pagination a:after {
  width: 60px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #eaeaea;
  opacity: 0.1;
  -moz-box-shadow: 5px 2px 5px 1px black;
  -webkit-box-shadow: 5px 2px 5px 1px black;
  box-shadow: 5px 2px 5px 1px black;
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 25px;
  z-index: -1;
  cursor: default;
}
.outer-slides-about-us .slides-pagination a.current {
  height: 42px;
  width: 42px;
  background:  url('../images/icons-s02b73b8257.png') -133px -148px no-repeat;
  margin: 0 16px 0 15px;
}
.outer-slides-about-us .slides-pagination a.current:after {
  top: 21px;
}
.outer-slides-about-us .slides-pagination a:last-child:after {
  display: none;
}

.content-item {
  min-height: 200px;
  color: #595957;
}
.content-item p {
  line-height: 1.8;
}
.content-item a {
  color: inherit;
}
.content-item .title-content {
  min-height: 130px;
  position: relative;
}
.content-item .title-content h3 {
  font-family: "copseregular";
  font-size: 2.3125em;
  color: #1e1e1e;
  font-weight: normal;
  margin: 0;
  line-height: 1;
  padding: 24px 0 16px;
  border-bottom: 1px solid #ccc9c2;
}
.content-item .title-content h3 a {
  text-decoration: none;
  color: inherit;
}
.content-item .title-content h3 a:hover {
  color: #383838;
}
.content-item .title-content h4 {
  margin: 0;
  color: #c7993e;
  line-height: 1.2;
  padding: 10px 0;
  font-size: 1.625em;
  font-weight: normal;
  font-family: "reverie_italicitalic";
  letter-spacing: -1px;
}
.content-item .title-bottom .item-left {
  float: left;
}
.content-item .title-bottom .text {
  display: block;
  position: relative;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "titilliumtext22l_rgregular";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #b3b0aa;
  padding: 10px 28px 0 0;
}
.content-item .title-bottom .text:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 25px;
  background:  url('../images/icons-s02b73b8257.png') -187px 0 no-repeat;
}
.content-item .title-bottom .item-name {
  padding: 22px 0 0 106px;
}
.content-item .title-bottom .item-name h4 {
  line-height: 1;
  padding: 0;
  font-size: 1.5em;
}
.content-item .date-post {
  position: absolute;
  left: -31px;
  top: 42px;
  height: 108px;
  width: 125px;
  background:  url('../images/icons-s02b73b8257.png') 0 -1911px no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 10px 0 0;
}
.content-item .date-post .month,
.content-item .date-post .day {
  display: block;
  text-align: center;
  font-family: "titilliumtext22l_rgregular";
  line-height: 1;
}
.content-item .date-post .month {
  text-transform: uppercase;
  color: #999794;
  font-size: 0.8125em;
}
.content-item .date-post .day {
  font-size: 2.3125em;
  color: #fffef7;
}
.content-item .user-image {
  position: absolute;
  background: #FFFEF7;
  right: 0;
  top: 6px;
}
.content-item .item-product .images {
  width: 284px;
}
.content-item .images {
  margin: 0;
}
.content-item .images .image {
  padding: 8px;
  border: 1px solid #CCC9C2;
}
.content-item .images a {
  display: block;
}
.content-item .images.image-left {
  float: left;
  margin: 6px 32px 0 0;
}
.content-item .images.image-right {
  float: right;
  margin: 6px 0 0 32px;
}
.content-item .images.image-inline {
  display: inline-block;
  margin: 6px 30px 0 0;
  vertical-align: top;
}
.content-item .images .images-text {
  font-family: "bitteritalic";
  text-align: center;
  line-height: 1;
  padding: 10px;
  color: #CCC9C2;
}
.content-item .text-content {
  margin-bottom: 60px;
  overflow: hidden;
}
.content-item .text-content ul {
  list-style-type: square;
  padding-left: 18px;
  font-family: "titilliumtext22l_ltmedium";
  margin-top: 0;
}
.content-item .text-content li {
  color: #d5a252;
}
.content-item .text-content li p {
  color: #595957;
  margin: 0;
  font-size: 1em;
}
.content-item .text-content li a {
  color: #101010;
  text-decoration: none;
  font-family: "titilliumtext22lxbold";
}
.content-item .text-content li a:hover {
  text-decoration: underline;
}
.content-item .text-content h4 {
  font-family: "reverie_italicitalic";
  font-weight: normal;
  color: #d5a252;
  font-size: 1.625em;
}
.content-item .text-content h5 {
  font-size: 1em;
  margin: 0;
  font-family: "titilliumtext22lxbold";
  text-transform: uppercase;
  font-weight: normal;
}
.content-item .text-content .text-description p {
  font-size: 0.8125em;
  color: #a6a5a1;
  font-family: "titilliumtext22l_ltmedium";
}
.content-item .images-decor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.content-item.content-top-block {
  background: #EBEADF;
}
.content-item.content-top-block:after {
  background: url("../images/bg/bg_content_bottom_d.png") 50% 50% repeat-x;
}
.content-item.content-top-block .text-content {
  width: 560px;
}

.footer-post {
  border-top: 1px solid #CCC9C2;
  text-align: right;
}
.footer-post .tags-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 340px;
}
.footer-post .tag-item {
  display: inline-block;
}
.footer-post .title-share,
.footer-post .tag-title {
  display: block;
  position: relative;
  font-size: 0.75em;
  float: left;
  font-family: "titilliumtext22llight";
  color: #B3B0AA;
  padding: 10px 30px 14px 0;
  line-height: 14px;
}
.footer-post .title-share:after,
.footer-post .tag-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 30px;
  background:  url('../images/icons-s02b73b8257.png') -232px -48px no-repeat;
}
.footer-post .item-list {
  text-align: left;
}
.footer-post .tag-list {
  list-style: none;
  margin: 18px 0 0 64px;
  padding: 0;
}
.footer-post .tag-list li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0;
}
.footer-post .tag-list li:after {
  content: '/';
  color: #CCC9C2;
  display: inline-block;
  padding: 0 2px 0 4px;
  vertical-align: middle;
}
.footer-post .tag-list li:last-child:after {
  display: none;
}
.footer-post .tag-list .tag-item {
  font-size: 0.875em;
  text-decoration: none;
  color: #C7993E;
  line-height: 1;
}

.item-product {
  margin-bottom: 36px;
}
.item-product .image a {
  position: relative;
}
.item-product .image a:after, .item-product .image a:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
}
.item-product .image a:before {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.item-product .image a:after {
  height: 58px;
  width: 58px;
  background:  url('../images/icons-s02b73b8257.png') 0 -790px no-repeat;
  top: 50%;
  left: 50%;
  margin-top: -29px;
  margin-left: -29px;
}
.item-product .image a:hover:after, .item-product .image a:hover:before, .item-product .image a:active:after, .item-product .image a:active:before {
  opacity: 1;
}
.item-product .image a:active:after {
  background:  url('../images/icons-s02b73b8257.png') -58px -790px no-repeat;
}
.item-product .content-product {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 304px;
}
.item-product .content-product h4 {
  font-size: 1.625em;
  font-weight: normal;
  font-family: "reverie_italicitalic";
  color: #d5a252;
}
.item-product .content-product .price-product {
  display: block;
  font-size: 1.25em;
  color: #1e1e1e;
  line-height: 30px;
  margin-bottom: 20px;
}
.item-product .btn-wrapp {
  clear: both;
  overflow: hidden;
  text-align: left;
  padding: 20px 0 0;
  margin: 0;
}
.item-product .btn-wrapp .btn-submit {
  margin: 0;
}

.table-product {
  width: 368px;
  float: left;
}
.table-product .table-title h4 {
  font-size: 1em;
  font-family: "bitteritalic";
  font-weight: normal;
  color: #595957;
  margin: 8px 8px 8px 0;
}
.table-product .table {
  width: 100%;
}
.table-product .table td {
  vertical-align: top;
}
.table-product .table tbody {
  border-top: none;
}
.table-product .table tbody tr {
  border-bottom: 1px solid #ccc9c2;
}
.table-product .table tbody td {
  padding: 20px 0 6px 0;
  text-align: center;
}
.table-product .table tbody td:first-child {
  text-align: left;
}
.table-product .table thead th {
  border-bottom: none;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "titilliumtext22lxbold";
  background: #ccc9c2;
  color: #f9f7f0;
  padding: 4px 8px;
  text-align: center;
}
.table-product .table thead th:first-child {
  text-align: left;
  padding-left: 18px;
}
.table-product .table tfoot td {
  font-family: "bitterregular";
  font-size: 0.875em;
  padding: 6px 0;
  vertical-align: middle;
  color: #CCC9C2;
}
.table-product .table tfoot td:first-child {
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "titilliumtext22l_ltmedium";
  padding-right: 20px;
  text-align: right;
}
.table-product .table tfoot td strong {
  color: #010101;
  font-size: 1.125em;
  font-family: "titilliumtext22lxbold";
  font-weight: normal;
}
.table-product .table .text-product {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
.table-product .table .text-product .data-product span {
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 14px;
  padding: 4px 0;
  font-family: "titilliumtext22l_rgregular";
  color: #ccc9c2;
}
.table-product .table .image {
  display: inline-block;
  vertical-align: top;
  margin: 0 14px 0 0;
  background: #fffef7;
  border: 1px solid #ccc9c2;
  padding: 4px;
}
.table-product .table .image img {
  vertical-align: top;
}

.calendar-wrapper {
  width: 1060px;
  margin: 10px auto;
  background: #fffef7;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  position: relative;
  padding: 30px 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar-wrapper .views-exposed-form label {
  font-weight: normal;
}
.calendar-wrapper:before, .calendar-wrapper:after {
  content: "";
  display: block;
  position: absolute;
}
.calendar-wrapper:before {
  width: auto;
  top: 0;
  left: 50px;
  right: 50px;
  height: 24px;
  background: url("../images/bg/bg_content_top.png") 50% 50% repeat-x;
}
.calendar-wrapper:after {
  bottom: -5px;
  left: 0;
  right: 0;
  width: auto;
  height: 5px;
  background: url("../images/bg/bg_content_bottom.png") 50% 50% repeat-x;
}
.calendar-wrapper .calendar-header {
  position: relative;
}
.calendar-wrapper .calendar-header .date-heading h3 {
  font-size: 2.625em;
  font-family: "copseregular";
  font-weight: normal;
  text-align: center;
  color: #1e1e1e;
  margin: 0;
  line-height: 60px;
  padding-bottom: 10px;
}
.calendar-wrapper .calendar-header .pager {
  margin: 0;
}
.calendar-wrapper .calendar-header .pager .date-prev,
.calendar-wrapper .calendar-header .pager .date-next {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 0;
  font-size: 0.875em;
}
.calendar-wrapper .calendar-header .pager .date-prev .ajax-progress,
.calendar-wrapper .calendar-header .pager .date-next .ajax-progress {
  position: absolute;
  top: 12px;
}
.calendar-wrapper .calendar-header .pager .date-prev a,
.calendar-wrapper .calendar-header .pager .date-next a {
  text-decoration: none;
  color: #7d7c79;
  font-size: inherit;
  font-family: "bitteritalic";
  display: block;
  position: relative;
  padding-top: 30px;
  padding-bottom: 22px;
}
.calendar-wrapper .calendar-header .pager .date-prev a:before, .calendar-wrapper .calendar-header .pager .date-prev a:after,
.calendar-wrapper .calendar-header .pager .date-next a:before,
.calendar-wrapper .calendar-header .pager .date-next a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}
.calendar-wrapper .calendar-header .pager .date-prev {
  left: -81px;
}
.calendar-wrapper .calendar-header .pager .date-prev a {
  padding-left: 80px;
}
.calendar-wrapper .calendar-header .pager .date-prev a:before {
  height: 80px;
  width: 77px;
  background:  url('../images/icons-s02b73b8257.png') -77px -1116px no-repeat;
  left: 0;
}
.calendar-wrapper .calendar-header .pager .date-prev a:hover:before {
  background:  url('../images/icons-s02b73b8257.png') 0 -1116px no-repeat;
}
.calendar-wrapper .calendar-header .pager .date-prev .ajax-progress {
  left: 16px;
}
.calendar-wrapper .calendar-header .pager .date-next {
  right: -81px;
}
.calendar-wrapper .calendar-header .pager .date-next a {
  padding-right: 80px;
}
.calendar-wrapper .calendar-header .pager .date-next a:after {
  height: 80px;
  width: 77px;
  background:  url('../images/icons-s02b73b8257.png') -195px -469px no-repeat;
  right: 0;
}
.calendar-wrapper .calendar-header .pager .date-next a:hover:after {
  background:  url('../images/icons-s02b73b8257.png') -90px -469px no-repeat;
}
.calendar-wrapper .calendar-header .pager .date-next .ajax-progress {
  right: 16px;
}
.calendar-wrapper .calendar-table {
  width: 100%;
}
.calendar-wrapper .calendar-table thead th {
  border-bottom: none;
  background: #cccbc2;
  font-size: 0.8125em;
  font-family: "titilliumtext22l_ltmedium";
  text-transform: uppercase;
  text-align: center;
  color: #fffef7;
  line-height: 38px;
  border-top: 1px solid #cccbc2;
  border-bottom: 1px solid #cccbc2;
  width: 136px;
}
.calendar-wrapper .calendar-table tbody td {
  background: #f2f1e6;
  border: none;
  border-top: 1px solid #fbfaf2;
  border-bottom: 1px solid #fbfaf2;
  border-right: 1px solid #fbfaf2;
  padding: 6px;
  vertical-align: top;
}
.calendar-wrapper .calendar-table tbody td.date-box {
  border-bottom: none;
  text-align: left;
  font-size: 1.25em;
  font-family: "titilliumtext22llight";
  color: #b3b2aa;
}
.calendar-wrapper .calendar-table tbody td.single-day {
  border-top: none;
}
.calendar-wrapper .calendar-table tbody td .item a {
  font-size: 0.875em;
  text-decoration: none;
  font-family: "titilliumtext22l_ltmedium";
}
.calendar-wrapper .calendar-table tbody td .cutoff {
  display: none;
}
.calendar-wrapper .calendar-table tbody td.empty .inner {
  display: none;
}
.calendar-wrapper .restaurant-sushi_neko a,
.calendar-wrapper .restaurant-musashis a,
.calendar-wrapper .restaurant-will_rogers_theatre a,
.calendar-wrapper .restaurant-lobby_cafe_bar a,
.calendar-wrapper .restaurant-tasting_room a,
.calendar-wrapper .restaurant-coach_house a {
  color: inherit;
  font-size: 0.875em;
  font-family: "titilliumtext22lxbold";
  line-height: 20px;
  text-transform: capitalize;
  display: block;
  padding: 0 0 2px 24px !important;
  position: relative;
}
.calendar-wrapper .restaurant-sushi_neko a:before,
.calendar-wrapper .restaurant-musashis a:before,
.calendar-wrapper .restaurant-will_rogers_theatre a:before,
.calendar-wrapper .restaurant-lobby_cafe_bar a:before,
.calendar-wrapper .restaurant-tasting_room a:before,
.calendar-wrapper .restaurant-coach_house a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1px;
  width: 18px;
  height: 18px;
}
.calendar-wrapper .restaurant-sushi_neko {
  color: #e6c10b;
}
.calendar-wrapper .restaurant-sushi_neko a:before {
  background:  url('../images/icons-s02b73b8257.png') -12px -469px no-repeat;
}
.calendar-wrapper .restaurant-sushi_neko .checker span {
  background:  url('../images/icons-s02b73b8257.png') -137px 0 no-repeat;
}
.calendar-wrapper .restaurant-sushi_neko .checker span.checked {
  background:  url('../images/icons-s02b73b8257.png') -12px -469px no-repeat;
}
.calendar-wrapper .restaurant-musashis {
  color: #cc2929;
}
.calendar-wrapper .restaurant-musashis a:before {
  background:  url('../images/icons-s02b73b8257.png') -214px -48px no-repeat;
}
.calendar-wrapper .restaurant-musashis .checker span {
  background:  url('../images/icons-s02b73b8257.png') -97px 0 no-repeat;
}
.calendar-wrapper .restaurant-musashis .checker span.checked {
  background:  url('../images/icons-s02b73b8257.png') -214px -48px no-repeat;
}
.calendar-wrapper .restaurant-will_rogers_theatre {
  color: #2da7b3;
}
.calendar-wrapper .restaurant-will_rogers_theatre a:before {
  background:  url('../images/icons-s02b73b8257.png') -30px -469px no-repeat;
}
.calendar-wrapper .restaurant-will_rogers_theatre .checker span {
  background:  url('../images/icons-s02b73b8257.png') -77px 0 no-repeat;
}
.calendar-wrapper .restaurant-will_rogers_theatre .checker span.checked {
  background:  url('../images/icons-s02b73b8257.png') -30px -469px no-repeat;
}
.calendar-wrapper .restaurant-lobby_cafe_bar {
  color: #62b37d;
}
.calendar-wrapper .restaurant-lobby_cafe_bar a:before {
  background:  url('../images/icons-s02b73b8257.png') -196px -48px no-repeat;
}
.calendar-wrapper .restaurant-lobby_cafe_bar .checker span {
  background:  url('../images/icons-s02b73b8257.png') -57px 0 no-repeat;
}
.calendar-wrapper .restaurant-lobby_cafe_bar .checker span.checked {
  background:  url('../images/icons-s02b73b8257.png') -196px -48px no-repeat;
}
.calendar-wrapper .restaurant-tasting_room {
  color: #d97d21;
}
.calendar-wrapper .restaurant-tasting_room a:before {
  background:  url('../images/icons-s02b73b8257.png') -178px -48px no-repeat;
}
.calendar-wrapper .restaurant-tasting_room .checker span {
  background:  url('../images/icons-s02b73b8257.png') -117px 0 no-repeat;
}
.calendar-wrapper .restaurant-tasting_room .checker span.checked {
  background:  url('../images/icons-s02b73b8257.png') -178px -48px no-repeat;
}
.calendar-wrapper .restaurant-coach_house {
  color: #b3628a;
}
.calendar-wrapper .restaurant-coach_house a:before {
  background:  url('../images/icons-s02b73b8257.png') 0 0 no-repeat;
}
.calendar-wrapper .restaurant-coach_house .checker span {
  background:  url('../images/icons-s02b73b8257.png') -37px 0 no-repeat;
}
.calendar-wrapper .restaurant-coach_house .checker span.checked {
  background:  url('../images/icons-s02b73b8257.png') 0 0 no-repeat;
}
.calendar-wrapper .calendar-footer {
  margin: 20px 0;
  position: relative;
}
.calendar-wrapper .calendar-footer .bef-checkboxes {
  display: table;
  width: 100%;
}
.calendar-wrapper .calendar-footer .form-item .form-item {
  vertical-align: middle;
  display: table-cell;
  text-align: left;
  text-align: center;
}
.calendar-wrapper .calendar-footer .form-item {
  position: relative;
}
.calendar-wrapper .calendar-footer .form-item label {
  font-size: 0.875em;
  font-family: "titilliumtext22l_ltmedium";
  cursor: pointer;
  margin-left: 5px;
}
.calendar-wrapper .calendar-footer .checker {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.calendar-wrapper .calendar-footer .checker input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}
.calendar-wrapper .calendar-footer .checker span {
  display: block;
  width: 20px;
  height: 20px;
}
.calendar-wrapper .calendar-footer .checker span.checked {
  margin: 1px;
  width: 18px;
  height: 18px;
}
.calendar-wrapper .calendar-footer .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
}
.calendar-wrapper .calendar-footer .ajax-progress {
  background: url("../images/bg/bg_transparent_b.png") 0 0 repeat;
  border: 1px solid #CCCBC2;
  top: -20px;
  bottom: -20px;
  right: 0;
  left: 0;
  width: auto;
  display: block;
  position: absolute;
}
.calendar-wrapper .calendar-footer .ajax-progress .throbber {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}
.calendar-wrapper .calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-wrapper .calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-wrapper .calendar-calendar .day-view .full td.single-day div.dayview {
  background-color: transparent;
}
.calendar-wrapper .calendar-calendar .month-view .full tr td.single-day.today {
  border-bottom: 2px solid #C7993E;
}
.calendar-wrapper .calendar-calendar .month-view .full td.date-box.today {
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #C7993E;
}
.calendar-wrapper .calendar-calendar .month-view .full tr td.today {
  border-left: 2px solid #C7993E;
  border-right: 2px solid #C7993E;
}
.calendar-wrapper .calendar-calendar div.calendar {
  font-size: inherit;
}
.calendar-wrapper .calendar-calendar td a {
  font-weight: normal;
}
.calendar-wrapper .view .date-nav-wrapper .date-next a {
  margin-right: 0;
  font-weight: normal;
}
.calendar-wrapper .view .date-nav-wrapper .date-prev a {
  margin-left: 0;
  font-weight: normal;
}
.calendar-wrapper .ajax-progress {
  display: inline-block;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #CCCBC2;
}
.calendar-wrapper .ajax-progress .throbber {
  background: transparent url("../images/throbber_min.gif") no-repeat 50% 50%;
  float: left;
  height: 20px;
  margin: 2px;
  width: 20px;
}

.popup_calendar {
  width: 440px;
  height: 440px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  -moz-box-shadow: -6px 4px 18px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -6px 4px 18px rgba(0, 0, 0, 0.5);
  box-shadow: -6px 4px 18px rgba(0, 0, 0, 0.5);
  margin: 20px 20px;
}
.popup_calendar.popup_sushi_neko {
  background: #E6C10B;
}
.popup_calendar.popup_musashis {
  background: #CC2929;
}
.popup_calendar.popup_will_rogers_theatre {
  background: #2DA7B3;
}
.popup_calendar.popup_lobby_cafe_bar {
  background: #62B37D;
}
.popup_calendar.popup_tasting_room {
  background: #D97D21;
}
.popup_calendar.popup_coach_house {
  background: #B3628A;
}
.popup_calendar .date-popup {
  width: 106px;
  height: 106px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: -0;
  left: -20px;
}
.popup_calendar .date-popup .day,
.popup_calendar .date-popup .month {
  display: block;
  text-align: center;
  font-family: "titilliumtext22l_ltmedium";
}
.popup_calendar .date-popup .day {
  color: #999794;
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: 1;
  padding: 20px 0 0;
}
.popup_calendar .date-popup .month {
  font-size: 2.375em;
  color: #fffef7;
  font-family: "titilliumtext22llight";
  line-height: 1;
}
.popup_calendar .title-header-popup {
  padding: 38px 20px 0 20px;
}
.popup_calendar .title-header-popup h3 {
  margin: 0;
  text-align: center;
  font-family: "copseregular";
  font-weight: normal;
  font-size: 1.625em;
  position: relative;
  padding: 0 0 10px 0;
  line-height: 1;
}
.popup_calendar .title-header-popup h3:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 0;
  width: 200px;
  height: 1px;
  background: #000;
}
.popup_calendar .title-text-popup h3 {
  font-size: 1.625em;
  font-family: "reverie_italicitalic";
  font-weight: normal;
  letter-spacing: -1px;
  text-align: center;
  padding: 34px 10px 10px;
  color: #fff;
}
.popup_calendar .time-popup {
  text-align: center;
  font-family: "titilliumtext22lxbold";
  text-transform: uppercase;
  font-size: 1.0625em;
}
.popup_calendar .text-popup {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  height: 110px;
  overflow: hidden;
  margin: 0 34px;
}
.popup_calendar .text-popup p {
  max-height: 64px;
  overflow: hidden;
  margin: 0;
}
.popup_calendar .text-popup a {
  color: inherit;
  font-family: "bitteritalic";
}
.popup_calendar .btn-wrapper {
  text-align: center;
  padding: 20px;
}
.popup_calendar a.btn-close {
  font-family: "titilliumtext22l_ltmedium";
  text-decoration: none;
  display: inline-block;
  color: #999794;
  text-transform: uppercase;
  font-size: 0.75em;
  background: #1e1e1e;
  padding: 8px 20px;
  line-height: 1;
}
.popup_calendar a.btn-close:hover {
  color: #fff;
}
