.header {
  min-width: 1122px;
  @include box-shadow(0 0 20px #000);

  .title-page {
    text-align: center;
    height: 154px;
  }
}

.header-inner {
  height: 200px;
  padding: 52px 0 0;
  background: #fff url("../images/bg/bg-header.jpg") 50% 0 no-repeat;
  @include background-size(100% 206px);
}
